body html {
    margin: 0;
    background-color: #fff;
    overflow-x: hidden
}

@font-face {
    font-family: "airbnb-bold";
    src: url("fonts/Airbnb_Cereal-Bold-woff2");
}

@font-face {
    font-family: "airbnb-regular";
    src: url("fonts/Airbnb_Cereal-normal.woff2");
}

@font-face {
    font-family: "airbnb-medium";
    src: url("fonts/Airbnb_Cereal-Medium-.woff2");
}

@font-face {
    font-family: "airbnb-fixed";
    src: url("fonts/AirbnbCerealVF_W_Wght.9c00198218646e3b3f345aa4bc3fda51.woff2");
}

body {
    margin: 0;
}

.airbnb {
    width: 100%;
    overflow-x: hidden;
}

.airbnb>div {
    display: flex;
    flex-flow: column;
}

.small-scree-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
}

header {
    margin: 0;
    width: 100%;
    height: auto;
}

header>div {
    width: 100%;
    height: auto;
    position: sticky
}

.header-top {
    margin: 10px 25px 0 8px;
}

.header-top-padding {
    width: 100%;
    padding: 4px 0px 6px 8px
}

.header-top-contents {
    background-color: #fff;
    border: 0.5px solid rgba(0 0 0/0.08);
    display: flex;
    border-radius: 50px;
    box-shadow: 0 3px 10px rgba(0 0 0/0.1);
    height: 54px;
    width: 100%;
    max-width: 693px !important;
    margin-left: 8px;
}

.header-top-contents button {
    cursor: pointer;
    height: 54px;
    padding-bottom: 0;
    bottom: 0;
    text-align: center;
    margin-top: 9px;
    align-items: center;
    border: none;
    background: transparent;
    width: 90vw;
    max-width: 694px;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: left;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 20px;
    padding-bottom: 20px;
    padding-left: 1px;
}

.search svg {
    display: block;
    height: 20px;
    width: 20px;
    fill: currentcolor;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}

.header-info {
    display: inline-flex;
    flex-flow: column;
    padding-bottom: 0;
    margin-bottom: 0;
    align-items: center;
    justify-content: left;
    text-align: left;
    margin-left: 2px;
    /* margin-top: -2px; */
}

.header-info span {
    width: 100%;
    justify-content: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "airbnb-medium";
    font-size: 14px;
    letter-spacing: -0.2;
    margin-left: 1.5px;
}

.header-info>div {
    display: flex;
    flex-flow: row;
    gap: 4px;
    width: 100%;
}

.dot {
    position: relative;
    font-size: 26px !important;
    bottom: 10px;
}

.header-info>div p {
    color: #6a6a6a;
    padding: 0;
    margin: 0;
    font-family: "airbnb-regular";
    letter-spacing: -0.15;
    margin-left: 2px;
    font-size: 12px;
    padding-top: 1px;
    margin-left: 1px;
}

.scrollable-icon-paading {
    position: fixed;
    top: 76px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;

}

.scrollable-icon {
    display: flex;
    flex-flow: row;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    border-bottom: 1px solid #6b6b6b67;
}

.scrollable-icon ul {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 48px;
    list-style: none;
    height: auto;
    margin-left: -16px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 11px;

}

.scrollable-icon ul li {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 40px;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid white;
    gap: 4px;
    margin-top: -1px;
}

.scrollable-icon ul li img {
    width: 24px;
    height: 24px;
    filter: invert(0.33);

}

.scrollable-icon ul li span {
    font-family: "airbnb-medium" !important;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    min-width: max-content;
    color: #6b6b6b;
    margin-bottom: 12px;
}

.scrollable-icon ul li:not(:first-child):hover {
    filter: invert(0);
    color: #000000;
}

.scrollable-icon ul li:first-child span {
    color: #000000;
}

.scrollable-icon ul li:first-child img {
    filter: invert(0);
    color: #000000;
}

.scrollable-icon ul li:first-child {
    border-color: #000000;

}

.scrollable-icon ul li:not(:first-child):hover {
    border-color: #6b6b6b67;
}

.scrollable-icon ul li>img:not(:first-child):hover {
    filter: invert(0);
    color: #000000;
}

.desktop-header {
    display: none;
}

.button-menu-padding {
    display: none;
}

.button-menu {
    display: none;
}

.center-button {
    display: none;
}

.bottom {
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 125px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    position: fixed;
    top: 100%
}

.bottom>div {
    display: flex;
    flex-flow: column;

}

.bottom svg {
    width: 24px;
    height: 24px;
}

.bottom span {
    font-size: 10px;
    line-height: 0.75rem;
    font-weight: 400;
    color: #878787;
    font-family: "airbnb-regular" !important;
}

.bottom>div:first-child p {
    color: #e81948;
}

.main-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 136px;
}

.section1 {
    margin-top: 23px;
    padding: 0 24px;
    margin-bottom: 32px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    box-sizing: border-box;
    gap: 42px;
    width: 100%;
}

.card {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.img-content {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    border-radius: 12px;
}

.card-img {
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/.913;
    box-sizing: border-box;
    margin-top: -23px;
}

.card-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.img-content>div img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    height: 100%;
    /* aspect-ratio: 1/.85; */
    cursor: pointer;
    box-sizing: border-box;

}

.img-content .card-btn {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
    top: 19px;
    margin-left: 11px;
    padding-right: 13px;
    box-sizing: border-box;
}

.card-btn .btn1 {
    background-color: rgba(255, 255, 255, 0.831);
    border-radius: 25px;
    padding-top: 7px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 7px;
    font-family: "airbnb-medium";
    font-size: 14px;
    z-index: -1;
    box-sizing: border-box;

}

.card .card-btn .btn1 {
    z-index: 0;
}

.upper-btn {
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.831);
    border-radius: 50%;
    padding: 5px;
    padding-bottom: 7px;
    width: 30px;
    height: 30px;
    justify-content: center;
    margin-left: 5px;
    box-sizing: border-box;
}

.upper-btn svg {
    width: 12px;
    /* height: 14px; */
    object-fit: contain;
    margin-top: 3px;

}

.discript {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: flex-start;
    justify-content: left;
}

.discript .span {
    font-family: "airbnb-medium";
    font-size: 15px;
    line-height: 19px;
}

.discript .paragarph {
    color: #6a6a6a;
    font-family: "airbnb-regular";
    padding: 0;
}



/* tues */
.section2 {
    padding: 0 24px;
    margin-bottom: 32px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}

.section2 .card-img {
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/.919;
    box-sizing: border-box;
    margin-top: -23px;
}

.section2-head-padding {

    display: flex;

}

.section2-head {
    display: block;
    box-sizing: border-box;
}

.section2-head h2 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.02px;
    font-family: "airbnb-medium";
    font-weight: 400;
}

footer {
    display: flex;
    flex-flow: column;
    background-color: #F7F7F7;
    overflow-x: hidden;
    box-sizing: border-box;

}

.top-footer-padding {
    display: flex;
    width: 100%;
    padding: 48px 24px 24px 24px;
    box-sizing: border-box;
    border-bottom: 1px solid #dddd;
}

.top-footer {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.top-footer-head h2 {
    font-family: "airbnb-regular" !important;
    font-weight: 600;
    box-sizing: border-box;
    margin: 0;
}

.top-ul {
    display: flex;
    width: fit-content;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #dddd;
    height: fit-content;
}

.top-ul ul {
    display: flex;
    flex-flow: row;
    font-family: "airbnb-medium" !important;
    color: #6b6767;
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 20px;
    list-style: none;
    box-sizing: border-box;
    padding-left: 0;
    overflow-x: scroll;
    scrollbar-width: none;
    padding-bottom: 0;
    margin-bottom: -7.37px;
}

.top-ul ul li {
    min-width: max-content;
    display: flex;
    margin: 6px 6px 6px 0;
    padding: 10px;
}

.top-ul ul li:first-child {
    color: #000000;
    border-bottom: 2px solid #000000;
    padding: 0;
    padding-bottom: 0;
    height: 30px;
    margin-top: 15px;
    margin-right: 10px;
}

.arrow {
    display: none;
}

.arrow-footer {
    display: flex;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
}

.arrow-footer .img {
    display: flex;
    border-radius: 50%;
    width: 30px;
    height: 22px;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color: #F7F7F7;
    cursor: pointer;
    margin-left: 2px;
}

.arrow-footer .img img {
    width: 16px;
    height: 16px
}

.items-count {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #dddd;
}

.mobile-hide {
    display: none;
}

.items-cont ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding-left: 0;
    row-gap: 25px;
    column-gap: 30px;
}

.items-cont ul li {
    padding: 0;
}

.items-cont span {
    font-size: 14px;
    font-family: "airbnb-medium" !important;
}

.items-cont p {
    font-size: 14px;
    font-family: "airbnb-regular" !important;
    color: #6a6a6a;
    margin: 0;
}

.items-cont img {
    width: 15px;
    cursor: pointer;
}

.down-footer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
}

.down-footer>div {
    display: flex;
    flex-flow: column;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #dddd;
}

.down-footer>div:first-child {
    padding-top: 0;
}

.down-footer ul {
    display: flex;
    flex-flow: column;
    list-style: none;
    padding-left: 0;
    gap: 12px
}

.down-footer ul li {
    font-family: "airbnb-regular";
    font-size: 14px;
    line-height: 20.016px;
}

.down-footer-padding {
    display: flex;
    width: 100%;
    padding: 24px 24px 21px 24px;
    box-sizing: border-box;
}

.support span {
    font-size: 14px;
    font-family: "airbnb-medium" !important;
    font-weight: 500;
    margin-bottom: 12px;
}

.support ul {
    margin: 0;
}

.bottom-links {
    padding: 0px 24px 93px 24px !important;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.links {
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
    gap: 5px
}

.footer-left {
    display: flex;
    flex-flow: column;
}

.footer-left p {
    font-size: 14px;
    font-family: "airbnb-regular" !important;
    margin-bottom: 9px;
    position: relative;
    top: 1px;
}

.footer-left>div {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 7.8px;

}

.footer-left span {
    font-size: 14px;
    font-family: "airbnb-regular" !important;
    cursor: pointer;

}

.footer-right {
    display: flex;
}

.english {
    display: flex;
    flex-flow: row;
    gap: 20px;
    margin-top: 3px;

}

.english span {
    display: flex;
}

.bottom-img {
    margin-top: 1px;
}

.english img {
    width: 16px;
    padding-right: 8px;
    cursor: pointer;
}

.english>span:last-child {
    margin-left: 5px;
}

.footer-right span {
    font-family: "airbnb-medium";
    font-size: 14px;
}

.social {
    display: none;
}

.img-button {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
    top: 44px;
    margin-left: 11px;
    padding-right: 13px;
}

.btn1 {
    background-color: rgba(255, 255, 255, 0.831);
    border-radius: 25px;
    padding-top: 7px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 7px;
    font-family: "airbnb-medium";
    font-size: 14px;
    height: fit-content;
}

.btn2 {
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.831);
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    justify-content: center;
    margin-left: 5px;
    height: fit-content;
}

.top-ul ul li:first-child {
    color: #000000;
    border-bottom: 3px solid #000000;
}


.section2 .card-img :not(:nth-child(3)) {
    aspect-ratio: 20/17;
}

.card-img:nth-child(3) {
    aspect-ratio: 1/1;
    width: 100%;

}

.fixed-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    border-top: 1px solid #e6e0e0;
}

.fixed-nav-margin {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    max-width: 560px;
    width: 100%;
    display: flex;
    flex-flow: row;
    height: 49.5px;
    padding-top: 12px;
    padding-bottom: 3px;
}

.fix-item {
    display: flex;
    flex-direction: column;
    width: 112px;
    height: 44px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fix-img {
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    top: 1px;
    left: 3px;
}

.fix-img img {
    width: 24px;
    height: 24px;
    fill: #878787;
}

.fix-item>div {
    font-size: 10px;
    font-family: "airbnb-regular";
    color: #878787;
    line-height: 11px;

}

.span-fix {
    color: #e81948 !important;
    font-size: 11px !important;
    line-height: 13px !important;
    font-weight: 900 !important;
    letter-spacing: -0.5px !important;
    position: relative;
    top: -1px;
}

#img-gray {
    position: relative;
    /* top: -0.5px; */
    margin-bottom: 2px;
}

.img-span {
    position: relative;
    top: -1px;
}

.news {
    margin-top: 0.1px;
}

.support:last-child span {
    margin-bottom: 11px !important;
}

/*  */
@media screen and (min-width:550px) {

    .card-section {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }




}


@media screen and (min-width:744px) {
    .header-top {
        display: none;
    }

    .fixed-nav {
        display: none;
    }

    .scrollable-icon-paading {
        top: 226px
    }

    header {
        /* margin-top: 3px; */
    }

    .desktop-header {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
    }

    .desktop-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 40px;
        width: 100%;
    }

    .small-logo {
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        height: 80px;
        z-index: 1;
        width: 30px;
    }

    .small-logo svg {
        color: #FF385c;
    }

    .right-header {
        display: flex;
        align-items: center;
        justify-content: right;
        height: 80px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .right-header>div {
        cursor: pointer;
    }

    .button-head {
        color: #222222;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        padding: 12px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-family: "airbnb-medium";
    }

    .glob {
        cursor: pointer;
        color: #222222;
        width: 40px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .glob svg {
        display: block;
        height: 16px;
        width: 16px;
    }

    .user-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #dddd;
        background: transparent;
        border-radius: 25px;
        gap: 14px;
        margin-left: 8px;
        padding: 7px 8px 7px 14px;
    }

    .user-button>div {
        color: #6a6a6a;
        display: inline;
    }

    .user-button>div:first-child {
        height: 16px;
        width: 16px;
        color: #180707;
    }

    .user-button>div:last-child {
        height: 32px;
        width: 32px;
    }

    .button-menu-padding {
        padding: 0px 40px 16px 40px;
        margin-top: 2px;
        margin-left: -10px;
        display: grid;
        align-items: center;
        position: relative;
        left: -3px;
        box-sizing: border-box;
    }

    .button-menu {
        display: flex;
        flex-flow: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 13px;
        padding-bottom: 18px;
        margin-left: -5px;
    }

    .button-menu>div {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: "airbnb-medium";
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-menu>div:first-child {
        margin: 10px 12px;
        color: #222222;
    }

    .button-menu>div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #6a6a6a;
        font-family: "airbnb-regular";

    }

    .button-menu>div:last-child span {
        color: #6a6a6a;

    }

    .button-menu-padding {
        padding-left: 50px;
        padding-right: 42px;
    }

    .button-menu {
        position: relative;
        /* top: 1px; */
        left: 2px;
    }

    .center-button {
        width: 100%;
        max-width: 848px;
        height: 66px;
        align-items: center;
        justify-content: center;
        display: flex;
        border: 1px solid #dddddd;
        border-radius: 32px;
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
        position: relative;
        left: 3px;
        flex-flow: row;
        box-sizing: border-box;
    }

   
    .center-button-padding {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex: 1 1 0%;
        width: 100%;
    }

    #check-in {
        position: relative;
        left: 2.5px;
    }

    .button-content1 {
        align-items: center;
        display: flex;
        margin: -1px;
    }

    .content-padding {
        padding: 13.5px 14px;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 32px;
        align-items: center;
        display: flex;
        flex-flow: column;
        gap: 2px;
        position: relative;
        text-overflow: ellipsis;
        /* white-space: nowrap; */
    }

    #center-one {
        position: relative;
        top: -1px;
        left: 0.2px
    }

    .first-span {
        position: relative;
        top: 2px
    }

    .button-content-head {
        font-family: "airbnb-medium";
        font-size: 12px;
        display: flex;
        width: 100%;
        font-weight: 400;
    }

    .content-padding span {
        font-family: "airbnb-regular";
        font-size: 14px;
        width: fit-content;
        color: #6a6a6a;
        text-overflow: ellipsis;
    }

    .check {
        display: flex;
        flex-flow: row;
        column-gap: 24px;
        align-items: center;
        width: 100%;
    }

    #check1 {
        position: relative;
        left: 4px;
    }

    .checkIn-span {
        position: relative;
        left: 0.5px;
    }

    .button-content.one {
        padding-left: 32px;
        font-family: "airbnb-regular";
        font-size: 14px;
        color: #222222;
    }


    .check::before {
        content: "";
        width: 1px;
        height: 32px;
        background-color: #c9c7c7;
        transform: translateY(5%);
        position: relative;
        left: 1px;
        top: -2px;
    }

    #check2 {
        position: relative;
        left: 7px;
        top: -15px;
    }

    #who {
        left: -28px !important;
        display: block;
    }


    #centerCnt-4 {
        position: relative;
        bottom: 15px;
        left: -15px;
    }

    #centerCnt-3 {
        position: relative;
        left: -14px;
        top: -1px;
    }

    #centerCnt-3::before {
        content: "";
        width: 1px !important;
        height: 32px !important;
        background-color: #c9c7c7;
        transform: translateY(5%);
        display: block;
        top: 32px !important;
        position: relative;
        left: -3px;
    }

    .center4 {
        position: relative;
        top: 1px;
    }

    .button-content.three::before {
        content: "";
        width: 1px;
        height: 32px;
        background-color: #c9c7c7;
        transform: translateY(5%);
    }

    .button-content.four>div:first-child {
        text-align: left;
        align-items: flex-start;
        justify-content: left;
    }

    .button-content.three {
        min-width: 96.3px;
    }

    .button-content.two {
        min-width: 80px;
    }

    .button-content.three.content-paddding {
        margin-left: -10px;
        text-align: left;
        justify-content: left;
    }

    .button-content.two>div:first-child {
        margin-left: -20px;
    }

    .button-content.four::before {
        content: "";
        width: 1px;
        height: 32px;
        background-color: #c9c7c7;
        transform: translateY(5%);
        margin-top: 14px;
        position: relative;
        left: -2px;
    }

    .center-button-padding:nth-child(2)::before {
        content: "";
        width: 1px;
        height: 32px;
        background-color: #ac3b3b;
        transform: translateY(5%);
    }

    .center-button-padding:not(:first-child)::before {
        content: "";
        width: 1px;
        height: 32px;
        transform: translateY(5%);
    }

    .button-content.one span {
        color: #b1abab;
    }

    .button-content.four {
        border-radius: 50px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding-right: 8px;
    }

    .button-arrow {
        align-items: center;
        display: grid;
        background-color: #ff385c;
        border-radius: 50%;
        justify-self: center;
        height: 48px;
        align-self: center;
        width: 48px;
        justify-content: center;
        margin-left: -10px;  
    }
    .button-arrow img{
        width: 16px;
        height: 16px;
    }

    .button-arrow svg {
        filter: invert(1);
    }

    .arrow {
        display: flex;
        width: 115px;
        height: 80px;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        background-image: linear-gradient(270deg, white, white, white, white, white, transparent);
    }

    .arrow .img {
        display: flex;
        border: 1px solid #b7b7b7;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        align-items: center;
        justify-content: center;
        padding: 2px;
        background-color: #fff;
        cursor: pointer;
    }

    .arrow .img img {
        width: 12px;
        height: 12px
    }

    .section1 {
        padding: 0 40px;
        margin-top: 8px;
    }

    .section2 {
        padding: 0 40px;
    }

    .big-logo {
        display: none;
    }

    .scrollable-icon-paading {
        position: static;
    }

    .scrollable-icon {
        border-bottom: none;
        padding: 0px 40px;

    }

    .scrollable-icon-paading {
        border-top: 1px solid #dddddd;
        margin-top: 14px;
    }

    .scrollable-icon ul {
        padding: 0;
        margin: 0;
        gap: 64px;
    }

    .scrollable-icon ul li {
        gap: 8px
    }

    .scrollable-icon ul {
        margin-top: 27px;
    }

    .items-cont ul li:nth-child(8) {
        display: flex;
        flex-flow: column;
    }

    .items-cont ul li:nth-child(9) {
        display: flex;
        flex-flow: column;

    }

    .items-cont ul li:nth-child(10) {
        display: flex;
        flex-flow: column;

    }

    .items-cont ul li:nth-child(11) {
        display: flex;
        flex-flow: column;
    }

    .bottom-links {
        display: flex;
        justify-content: center;
        align-items: center;
        
            padding: 0px 24px 26px 24px !important;
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }

    .footer-right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: -2px;
        padding-bottom: 2px;
    }

    .footer-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom-links {
        padding-bottom: 24px;
    }

    .social {
        display: flex;
        flex-flow: row;
        gap: 20px;
        cursor: pointer;
        margin-left: 30px;
    }

    .social img {
        width: 18px;
    }

    .footer-left p {
        margin: 0;
        padding-bottom: 3px;
    }

    .down-footer-padding {
        padding-right: 40px;
        padding-left: 40px;
    }

    .top-footer-padding {
        padding-right: 40px;
        padding-left: 40px;
    }

    .main-content {
        margin-top: 0;
    }

}

@media screen and (min-width:810px) {
    .arrow-footer {
        display: none;
    }
}

@media screen and (min-width:950px) {
    .button-menu-padding {
        position: absolute;
        top: 19.2px;
        align-items: center;
        display: flex;
        justify-content: center;
        right: 0;
        padding: 0px 0px 50px 0px;
        flex-direction: column;

    }

    #who {
        left: -10px !important;
        position: static;
    }

    #check1 {
        position: relative;
        left: 2.5px;
        top: 1px;
    }

    .checkIn-span {
        position: relative;
        left: 0.5px;
    }

    #center-one {
        position: relative;
        top: 1px
    }

    .button-content.one {
        padding-left: 32px;
        font-family: "airbnb-regular";
        font-size: 14px;
        color: #222222;
    }

    .button-menu {
        /* margin-top: -5px; */
        padding-bottom: 22.8px;
        margin-left: -5px;
    }

    .button-content-head {
        position: relative;
        top: -2px;
    }

    .center-button {
        margin-top: -5px;
        margin-left: 10px;
    }

    .scrollable-icon {
        margin-top: 95px;
        border-top: 1px solid #dddddd;
        border-bottom: none;

    }

    .scrollable-icon ul {
        margin-top: 30px;
    }

    .card-section {
        grid-template-columns: repeat(3, 1fr);
    }

    .center-button {
        margin-bottom: 20px;
    }

    .scrollable-icon {
        margin-top: 95px;
    }

    .items-cont ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .down-footer {
        grid-template-columns: repeat(3, 1fr);
    }

    .scrollable-icon-paading {
        border-top: 0;
    }

    .center-button {
        margin-bottom: 0;
    }

    .scrollable-icon-paading {
        margin: 0;
    }

    .button-content.four>div:first-child {
        margin-left: -100px;
    }

    .top-ul ul li:first-child {
        color: #000000;
        border-bottom: 4px solid #000000;
    }

    .scrollable-icon {
        margin-top: 88px;
    }

    .content-padding {
        gap: 0;

        padding: 13.5px 14px;
    }

    #check2 {
        position: relative;
        left: 9px;
    }

    #who {
        top: 1px;
        left: -1px;
    }

    #centerCnt-4 {
        position: relative;
        bottom: 15px;
        left: 13px;
    }

    #centerCnt-4::before {
        content: "";
        width: 1px !important;
        height: 32px !important;
        background-color: #c9c7c7;
        transform: translateY(5%);
        display: block;
        top: 45px !important;
        position: relative;
    }
}

@media screen and (min-width:1128px) {
    .card-section {
        grid-template-columns: repeat(4, 1fr);
    }

    .small-logo {
        display: hide;
    }

    .big-logo {
        display: flex;
        width: 100%;
    }

    .big-logo svg {
        width: 102px;
        height: 32px;
        color: #FF385c;
    }

    .arrow {
        display: flex;
        width: 110px;
        height: 80px;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 30px;
        padding-right: 50px;
        background-image: linear-gradient(270deg, white, white, white, white, white, transparent);
    }

    .arrow .img {
        display: flex;
        border: 1px solid #b7b7b7;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        align-items: center;
        justify-content: center;
        padding: 2px;
        background-color: #fff;
        cursor: pointer;
    }

    .arrow .img img {
        width: 12px;
        height: 12px
    }

    .items-cont ul {
        grid-template-columns: repeat(6, 1fr);
    }

    .items-cont .mobile-hide {
        display: flex;
        flex-flow: column;

    }

    .links {
        flex-flow: row;
        justify-content: space-between;
    }

    .footer-left {
        flex-flow: row;
        gap: 10px;
    }

    .footer-left span {
        gap: 20px;
    }

    .social {
        margin-left: 15px;
        gap: 15px
    }

    .footer-right {
        margin-right: 10px;
        margin-left: -100px
    }

    .small-logo {
        display: none;
    }

}

@media screen and (min-width:1440px) {
    .top-footer-padding {
        padding: 48px 80px 32px 80px;
    }

    .desktop-top {
        padding: 0 80px;
    }

    .small-logo {
        display: none;
    }

    .button-menu-padding {
        padding: 0 80px;
    }

    .section1 {
        padding: 0 80px;
    }

    .section2 {
        padding: 0 80px;
    }

    .down-footer-padding {
        padding: 0 80px;
    }

    .bottom-links {
        padding: 26px 80px 24px;
    }

    .arrow {
        padding-right: 0;
        right: 0;
    }

    .arrow {
        width: 180px;
        right: 160px;
    }

    .scrollable-icon {
        padding: 0 80px;
    }

    .down-footer {
        padding-top: 32px;
    }

    .down-footer>div {
        padding-top: 12px;
    }

}

@media screen and (min-width:1640px) {
    .card-section {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width:1880px) {
    .card-section {
        grid-template-columns: repeat(6, 1fr);
    }

    .top-footer-padding {
        display: flex;
        flex-flow: column;
        row-gap: 32px;
        padding: 48px 389px;
    }

    .top-footer {
        padding: 0;
    }

    .down-footer-padding {
        display: flex;
        flex-flow: column;
        row-gap: 32px;
        padding: 48px 389px 24px 389px;
    }

    .bottom-links {
        display: flex;
        flex-flow: column;
        row-gap: 32px;
        padding: 0px 389px 24px 389px;
    }

    .top-ul {
        border-bottom: 2px solid #dddd;
    }

    .top-ul ul li:first-child {
        color: #000000;
        border-bottom: 4px solid #000000;
    }

    .arrow {
        width: 60px;
        margin-left: 30px;
        right: 0;
        </div>
        <span class="center4"> Add guests</span>

    .scrollable-icon-paading {
        border-top: none;
        margin: 0;
    }

    .scrollable-icon {
        margin-top: 89px;
    }
    </div>
    <span class="center4"> Add guests</span>
.button-menu {
        margin-top: -2px;
        padding-bottom: 21px;
        margin-left: -5px;
        gap: 21px
    }

    .button-menu>div:first-child {
        margin-left: 13.1px;
    }

    .center-button {
        max-height: 64px;
    }

    .arrow {
        width: 100px;
        right: 50px;
    }
}

