* {
    padding: 0;
    margin: 0;
}

/* .head .link .icon{
    color: rgb(235, 62, 62);
    background-color: white;
} */
body html {
    margin: 0;

}

@font-face {
    font-family: "airbnb-bold";
    src: url("fonts/Airbnb_Cereal-Bold-woff2");
}

@font-face {
    font-family: "airbnb-regular";
    src: url("fonts/Airbnb_Cereal-normal.woff2");
}

@font-face {
    font-family: "airbnb-medium";
    src: url("fonts/Airbnb_Cereal-Medium-.woff2");
}

.first {
    transition-timing-function: var(--linaria-theme_motion-linear-curve-animation-timing-function);
    transition-duration: 1160ms;
    transition-property: background-color;
}

.wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    background: #dddddd47;
    height: 50px;
    flex-direction: column;
}

.wrapper button {
    border: none;
    cursor: pointer;
    background: #dddddd47;
    font-size: px;
    text-decoration: underline;
    margin: 0;
    font-size: 15px;
}
.container{
    width: 100vw;
}
.airbnb {
    display: flex;
    flex-flow: column;
    /* position: fixed; */
    padding: 0 40px;
}

.airbnb .nav-bar {
    display: flex;
    flex-flow: column;
    padding-bottom: 50px ;
}

.airbnb .nav {
    display: flex;
    flex-flow: row;
    /* margin-top: 50px; */
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: center;
    /* margin-left: 50px; */

}

.nav .first-logo {
    width: 200px;
}

.first-logo img {
    width: 100px;
    margin: 20px;
}

.contents {
    display: flex;
    flex-flow: row;
    align-items: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin-top: -100px; */
    /* gap: 50px; */
    margin-left: 390px;

}

.contents ul {
    display: flex;
    flex-flow: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: #222222;

}

.contents ul li {
    align-items: center;
    font-family: "airbnb-regular" !important;

    font-size: 16px;
    cursor: pointer;
    color: #636161;
    /* width: 150px; */

}

.contents ul li:hover {
    background-color: #dddddd;
}

.contents ul .first {
    color: black;
    margin-left: 0px;
    font-weight: 600;
}
/* wed */
.airbnb-hom {
    display: flex;
    flex-flow: row;
    width: 300px;
    /* gap: 0px; */
    margin-left: 250px;
    justify-content: space-between;
    align-items: center;
}

.airbnb-hom button {
    width: 150px;
    height: 45px;
    font-family: "airbnb-medium" !important;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    background: transparent;
    border:none;
}
.airbnb-hom button:hover{
    background-color: #dddddd47;
}
.airbnb-hom .glob {
    /* width: 32px; */
    /* height: 32px; */
    margin-top: 5px;
    border: 1px solid transparent;
    /* padding: 2px; */
    margin: 15px;
    /* margin-left: -15px; */
    border-radius: 100%;
    align-items: center;
    justify-content: center;

}
.airbnb-hom .glob button{
    display: flex;
 width:40px;
 border-radius: 100%;
 height: 40px;
 align-items: center;
 justify-content: center;
}
.glob button img{
    width: 20px;
    padding: 3px;
    /* margin: 4px; */
    margin-left: px;
    margin-right: .5px;
}
.airbnb-hom .glob:hover{
    background-color: #dddddd47;

}
.user{
    /* background-color: aqua; */
    /* width: 0px; */
    display: flex;
    flex-flow: row;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.user img{
    width: 30px;
}
.user .image1{
    margin-right: 10px;
    width: 16px;
    padding-bottom: 5px;
}
.user button{
    width:90px;
    height: 50px;
    background-color:transparent;
    border:1px solid  #dddddd47 ;
}
.user button:hover{
    box-shadow: 0px 2px 4px #dddddd;
    transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
}
.user .user- button{
    
    gap:50px
}
.below-cont{
    max-width: 100%;
    min-width:500px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.below-cont button {
    /* max-width: 1000px; */
    /* min-width: 400px; */
    display: flex;
    flex-flow: row;
    background-color: #fff;
    border:1px solid  #dddddd ;
    border-radius: 60px;
    /* height: 50px; */
   /* gap: 30px; */
   /* padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 8px;
   padding-right: 8px; */

}
.below-cont ul{
    list-style: none;
}
.below-cont ul li{
    font-family: "airbnb-medium" !important;
    font-size: 12px;
    line-height: 16px;
    color: #636161;
    line-height: 20px;
}
.fi-cont{
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    cursor: pointer;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 30%;
    padding: 10px 20px 10px 20px;
    text-align: left;
    border: none;
}
.fi-cont:hover{
    background-color: #fff;
    box-shadow: 0px 2px 4px #dddddd;
    transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1)
}

.se-cont{
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    cursor: pointer;
    width: 80px;
    border: 1px solid transparent;
    border-radius: 30%;
    padding: 10px 20px;
    text-align: left;
    border: none;


}
.se-cont:hover{
    background-color: #fff;
    box-shadow: 0px 2px 4px #dddddd;
    transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1)
}

.th-cont{
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    cursor: pointer;
    width: 80px;
    border: 1px solid transparent;
    border-radius: 30%;
    padding: 10px 20px;
    text-align: left;
    border: 0;


}
.th-cont:hover{
    background-color: #fff;
    box-shadow: 0px 2px 4px #dddddd;
    transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1)
}
.below-cont .head{
    color: #222222;
}
.search-cont{
    width:130px;
    /* height: 130px; */
    display: flex;
    flex-flow: row;
    gap:20px;
    border:1px solid transparent;
    /* width: 139px; */
    padding: 10px 10px 10px 20px;
    border-radius: 50%;
    
}
.search-cont:hover{
    background-color: #fff;
    box-shadow: 0px 2px 4px #dddddd;
    transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1)
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: hsla(345, 94%, 55%, 0.979);
    border: none;
    border-radius:100%;
    color: #ffff;
    cursor: pointer;
    padding: 0;

}
.search i{
    /* border: none;
    border-radius:100%;
    color: #ffff;
    cursor: pointer; */
    
        display: block;
        fill: none;
        height: 18px;
        width: 18px;
        stroke: currentColor;
        stroke-width: 4;
        overflow: visible;
        align-items: center;
        justify-content: center;
        padding-top: 3px;
}




/* main starts */

.main{
    display: flex;
    flex-flow: column;
    /* margin:50px; */
    padding: 0;
    width: 100%;
    /* padding: 70px; */
    padding-top: 50px;
    /* position: fixed; */
    margin-left: 43px;
}
.main .icons{
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-left: 50px;
    width:90%;
    padding-bottom: 50px;
     
}
.icon .first{
    position: relative;
    display: flex;
    flex-flow: column;

}
.first img{
    width:30px;
    
}

.main-content{
    display: flex;
    flex-flow: column;
    width:90%;
   padding-bottom: 100px;
}
.main-top{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-color: rgb(235, 235, 235);
    gap: 24px;
    padding-bottom: 50px;
}
.card{
    display: flex;
    flex-flow: column;
    
}
.img-btn{
    display: block;
  height: 100%;
  width: 100%;
  background-color: white;
 

}
.card-img img{
     width: 271.25px;
     height:257.683px;
     border-radius: 12px;
     cursor: pointer;
}
.disc{
    display: flex;
    flex-flow: column;
    width: 260;
    padding-top: 10px;
    line-height: 22px;

}
.disc .head span{
    font-family: "airbnb-regular"!important;
    font-size: 16px;
    color: #000000;
}
.disc .hosted p{
  font-size: 16px;
  font-family: "airbnb-regular"!important;
color: #6b6767;
  
}
.disc .info{
    font-size: 16px;
  font-family: "airbnb-regular"!important;
color: #222222;
}


/* experience */

.experience{
    display: flex;
    flex-flow: column;
}
.experience-cont{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-color: rgb(235, 235, 235);
    gap: 24px;
    padding-bottom: 50px;
}
.experience .exp-head{
    width: 100%;
    padding: 10px 10px 25px 10px;
}
.exp-head h2{
    font-family: "airbnb-medium"!important;

}


.footer{
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color:#F7F7F7;
    /* margin-left: -5; */
    /* position: fixed; */
    /* padding: 50px   200px ; */
}
.footer ul{
    list-style: none;
}
.footer .top-footer{
    display: flex;
    flex-flow: column;
    padding: 50px 400px;
}
.top-footer h2{
    font-family: "airbnb-medium"!important;

}
.top-footer .items ul{
display: flex;
flex-flow: row ;
gap:30px;
padding:20px;
font-family: "airbnb-medium"!important;
color: #6b6767;
cursor:pointer

}
.items ul .popular{
    color: #000000;
}
hr{
    color:#fff;
}