*{
    padding:0;
    margin:0;
}
.top{
    transition-timing-function:  var(--linaria-theme_motion-linear-curve-animation-timing-function);
    transition-duration:1160ms;
    transition-property:background-color;
}
.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: #e7e7e2;
    height:24px;
}
.wrapper button{
    outline: none;
    border:none;
    background:#e7e7e2 ;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
    margin:0;
}
.nav-bar{
    padding: 20px 80px;
}
.nav-bar .navigation{
     display:flex;
     justify-content: space-between;
     margin-top: 0;
}
.navigation .logo img{
    width:100px;
}
.navigation .features{
    padding:0 20px;
    margin:0 40px;
    display: flex;
}
.navigation .features ul{
    display:flex;
    cursor:pointer;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    gap:24px ;
}
.navigation .features ul li{
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   padding: 20px 0;
   width: 150px;
   border-radius: 40px;
}
.navigation .features .none{
    width:85px;
}
.features .none:hover{
    background: #dddddd;
    padding: 20px 0;
    width:150px;
    border: 20px;
}
.features .none-1:hover{
    background: #dddddd;
    padding: 20px 0;
    width:150px;
    border: 20px;
}
.navigation .center{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:25px;
}
.center .long-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:80px;
    margin-left: 80px;
    background: white;
    border-radius: 50px;
    width: 100%;
    height: 40%;
    border: 1px solid #dad3d3;
    box-shadow: 0 0.2rem 0.2rem rgb(0,0,0,0,2);
}
.long-btn .in-div{
    display: flex;
    margin-left: 45px;
}
.long-btn .in-div .hd ::before{
    content: "|";
    margin:0 10px;
}
.long-btn .in-div li::before{
    content: "|";
    margin: 0 10px;
}
 .center .long-btn .search{
    background-color: rgb(225, 0 , 0);
    color: #ffffff;
    width:6%;
    height:52px;
    margin:10px;
    margin-left:-10px;
    border-radius: 250px;
    box-shadow: #9e8787;
 }
 .search i{
    width:100%;
    align-items: center;
    justify-content: center;
    margin-left:19px ;
    margin-top: 20px;
}
.center .long-btn ul{
    width:150px;
    line-height: 28px;
}
.center .long-btn ul li{
    list-style: none;
    line-height: 15px;
}
.center .long-btn .in-div ul li{
    border-spacing: 100px;
}
.long-btn .hd{
    font-weight: 600;
}
.nav-bar .navigatio .home{
    height:5vh;
    padding: 0;
    margin: 0;
}
.navigation .home p{
    font-size: 18px;
}
.navigation .home img{
    width: 100px;
}
.navigation .home .user-logo button{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:90px;
    height:50px;
    background: white;
    border:1px solid #dad3d3;
    border-radius:40px;
}
.navigation ,.home .image1{
    width:20%;
}
.navigation ,.home .image1{
    width:40%;
}